</div>
<script src="http://localhost:3000/bootstrap/js/jquery.min.js"></script>
<script src="http://localhost:3000/bootstrap/js/bootstrap.js"></script>
<script src="http://localhost:3000/bootstrap/js/proper.min.js"></script>
</body>

</html>